<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Color picker</title>

</head>

<body>
    <h1>Counter</h1>
    <h3>{{session['count']}} times</h3>
    <form action='/addcount' method='post'>
        <input type='submit' value='Add 2 views'>
    </form>
    <form action='/reset' method='post'>
        <input type='submit' value='RESET'>
    </form>
</body>

</html>